body *{
  box-sizing: border-box;
  background-color: orange;
  
  
}
h1{
  font-size: x-large;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;
  display: inline;
}
h2{
  font-size: larger;
  text-align: center;
  padding-top: 200px;
}
h3{
  font-size: large;
  padding: 20px;
}
img{
  width: 30%;
  border-radius: 50px;
  padding: 20px
}
#winterPic{
  float: right;
}
#huntingPic{
  float:none;
}
#sanDiego{
  float: left;
}
#bourbonPic{
  float: right;
}
#catPic{
  float: right;
}
header{
  position: fixed;
  top: 0px;
  width: 100%;
  background-image: url("../images/Fire.jpg");
  text-align: center;
  border: 10px double white;
  height: 150px;
}
#headerNav *{
  display: inline;
  text-align: center;
}
ul{
  display: inline;
  padding-top: 0px;
}
li{
  display: inline;
  padding: 0px 10px;
}
ol li {
  display: list-item;
  padding-left: 50px;
}
#inlineNav{
 text-align: center;
}
a{
  color: black;
}
footer{
  padding: 50px;
}
p{
  padding: 0px 50px 50px 50px;
}
figcaption{
  text-align: center;
}